<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="static/image/patates_icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Patates Baskı
    </a>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/upload">Yükle</a>
        </li>
      </ul>
    </div>
  </div>
</nav>